html {
  font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

.mark-borders {
    border: 3px dashed black;
  > * {
    border: 1px solid red;
  }
}
